<h1>Address Book</h1>
<form action="/" method="post">
  <label for="new-name">Name:</label>
  <input id="new-name" name="new-name" type="text">
  <br>
  <label for="new-phone">Phone number:</label>
  <input id="new-phone" name="new-phone" type="text">
  <br>
  <label for="new-street">Street Address:</label>
  <input id="new-street" name="new-street" type="text">
  <br>
  <label for="new-city">City:</label>
  <input id="new-city" name="new-city" type="text">
  <br>
  <label for="new-state">State:</label>
  <input id="new-state" name="new-state" type="text">
  <br>
  <button type="submit">Submit</button>
</form>
