@{
  Layout = "_Layout";
}

<div class="container">
  <h1>List of contacts:</h1>
  @if (@Model.Count == 0)
  {
    <h3>There is no contacts in the address book!</h3>
  }
  <ul>
    @{var contactCounter = 0;}

    @foreach(var contact in Model)
    {
      contactCounter++;

      <li>Contact person @contactCounter: <a id="inputName" href='/@contact.GetID()'>@contact.GetName()</a></li>
        <ul>
          <li>Phone Number: @contact.GetPhone()</li>
          <li>Address info: @contact.GetAddress().GetAddressInfo()</li>
        </ul>
    }
  </ul>
  <br>
  <p><a href="/contacts/new">Add another contact.</a></p>
  <br>
  <form action="/contacts/delete" method="post">
    <button type="submit" name="button">Clear All contacts from the List</button>
  </form>
</div>
